<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/style-future/import.css" />
	<title><%= pageTitle %> - <%= siteName %></title>
</head>
<%- body %>
<div id="footer">
	<ul class="support">
		<li>Powered by 
			<a href="http://vicuna.jp/" target="_blank" />Vicuna CMS</a> &amp; 
			<a href="http://nodejs.org/" target="_blank" />Node.js</a> &amp; 
			<a href="http://expressjs.com/" target="_blank" />Express</a> &amp; 
			<a href="http://looseleafjs.org/" target="_blank" />LooseLeaf</a>
		</li>
	</ul>
	<address>
		Copyright &copy; <a href="<%= copyright.href %>"><%= copyright.text %></a> All Rights Reserved.
	</address>
</div>
</body>
</html>
