<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/style-future/import.css" />
	<title><%= pageTitle %> - <%= siteName %></title>
	<link rel="alternate" type="application/atom+xml" title="Atom" href="/atom" />
</head>
<%- body %>
<div id="footer">
	<ul class="support">
		<li>Powered by 
			<a href="http://vicuna.jp/" target="_blank" />Vicuna CMS</a> &amp; 
			<a href="http://nodejs.org/" target="_blank" />Node.js</a> &amp; 
			<a href="http://expressjs.com/" target="_blank" />Express</a> &amp; 
			<a href="http://looseleafjs.org/" target="_blank" /><%= poweredBy %></a>
		</li>
	</ul>
	<address>
		Copyright &copy; <a href="<%= copyright.href %>"><%= copyright.text %></a> All Rights Reserved.
	</address>
</div>
<script src="/js/jquery-1.4.4.min.js"></script>
<script src="/js/looseleaf.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2965568-10']);
  _gaq.push(['_setDomainName', '.looseleafjs.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
