<% if (config.usersNav) { %>
<nav id="usersNav">
  <ul>
    <% for (var i = 0; i < navUsers.length; i++) { %>
      <li><a href="/user/<%= navUsers[i].username %>"><img src="<%= navUsers[i].icon %>" alt="<%= navUsers[i].username %>" /></a></li>
    <% } %>
    <li id="scrollToTop2"><a href="#" title="Scroll to Top"></a></li>
  </ul>
</nav>
<% } %>

<footer>
  <p>
    <small>&copy; <a href="<%= config.copyright.uri %>"><%= config.copyright.title %></a></small>
    <small>powered by <a href="http://looseleafjs.org/" target="_blank">LooseLeaf.JS</a> with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></small>
  </p>
</footer>

<%- partial('./shared/files') %>

<script src="/javascripts/lib/jquery-1.6.4.min.js"></script>
<!-- jquery plugins -->
<script src="/javascripts/lib/jquery.timeago.js"></script>
<script src="/javascripts/lib/activity-indicator.js"></script>
<script src="/javascripts/lib/jquery.tablesorter.min.js"></script>
<script src="/javascripts/lib/cleditor/jquery.cleditor.js"></script>
<script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.xhtml.js"></script>
<script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.advancedtable.js"></script>
<!--script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.table.js"></script-->
<script src="/javascripts/lib/cleditor/plugins/jquery.cleditor.icon.js"></script>

<!-- bootstarp -->
<script src="/javascripts/lib/google-code-prettify/prettify.js"></script>
<script src="/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="/bootstrap/js/bootstrap-popover.js"></script>
<script src="/bootstrap/js/bootstrap-modal.js"></script>

<!-- looseleaf -->
<script src="/javascripts/lib/ejs.min.js"></script>

