<div class="content" data-user-id="<%= user.id %>" data-user-color="<%= user.color || '' %>" id="<%= user.username %>">
  <div class="show">
    <div class="page-header clearfix">
      <h1><a href="/users/<%= user.id %>"><%= user.fullname %></a></h1>
      <ul class="info">
        <li class="icon"><a href="/users#<%= user.username %>"><img src="<%= user.icon %>" alt="<%= user.username %>" /></a></li>
        <li><a href="/user/<%= user.username %>"><%= user.posts.length %> posts</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="span10"><%- user.intro %></div>
    </div>
  </div>
</div>

