</head>
<body class="individual single">
<%- partial('partials/header') %>
<div id="content">
<div id="main">
  <p class="topicPath"><a href="/">Home</a> &gt; <a href="/category/<%= entry.category %>/"><%= categories[entry.category].name %></a> &gt; <span class="current"><%= pageTitle %></span></p>
  <ul class="flip" id="flip1">
    <% if (prev != null) { %>
    <li class="newer"><a href="/entry/<%= prev.id %>/" title="<%= prev.title %>" rel="nofollow">Newer</a></li>
    <% } %>
    <% if (next != null) { %>
    <li class="older"><a href="/entry/<%= next.id %>/" title="<%= next.title %>" rel="nofollow">Older</a></li>
    <% } %>
  </ul>
  <h1><%= pageTitle %></h1>
  <div class="section entry">  
    <ul class="info">
      <!--li class="author">Posted by: <span class="name"><%= sidebar.author.name %></span></li-->
      <li class="date"><%= entry.date %></li>
      <% if (entry.update) { %>
      <li class="date update">Update: <%= entry.update %></li>
      <% } %>
      <li class="category"><a href="/category/<%= entry.category %>/" title="<%= categories[entry.category].name %> Index"><%= categories[entry.category].name %></a></li>
      <li class="tag">
      <% for (var i = 0; i < entry.tags.length; i++) { %>
        <a href="/tag/<%= entry.tags[i] %>/" rel="nofollow"><%= entry.tags[i] %></a><% if (entry.tags[i + 1] != undefined) { %>, <% } %>
      <% } %>
      </li>
    </ul>
    <p>
      <!-- http://twitter.com/goodies/tweetbutton -->
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

      <!-- http://www.google.com/webmasters/+1/button/index.html -->
      <!-- Place this tag where you want the +1 button to render -->
      <g:plusone size="medium"></g:plusone>
      
      <!-- http://developers.facebook.com/docs/reference/plugins/like/ -->
      <iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=true&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
    </p>
    <div class="textBody">
      <%- entry.body %>
    </div>
    <% if (next != null || prev != null) { %>
    <ul class="flip" id="flip2">
      <% if (prev != null) { %>
      <li class="newer">Newer: <a href="/entry/<%= prev.id %>/" title="Newer entry"><%= prev.title %></a></li>
      <% } %>
      <% if (next != null) { %>
      <li class="older">Older: <a href="/entry/<%= next.id %>/" title="Older entry"><%= next.title %></a></li>
      <% } %>
    </ul>
    <% } %>
    <div class="section" id="comments">
      <h2>Comment:<span class="count"><%= entry.comments.length %></span></h2>
      <dl class="log">
        <% for (var i = 0; i < entry.comments.length; i++) { %>
        <dt id="comment<%= i %>"><span class="name"><%= entry.comments[i].author %></span> <span class="url"><%= entry.comments[i].uri %></span> <span class="date"><%= entry.comments[i].date %></span></dt>
        <dd>
          <p><%= entry.comments[i].body %></p>
        </dd>
        <% } %>
      </dl>
      <form class="post" method="post" action="comment/" id="commentsForm">
        <fieldset>
          <legend>Comment Form</legend>
          <div>
            <p><script>document.write('<input type="hidden" name="token" value="<%= req.session.id %>" />');</script></p>
          </div>
          <dl id="name-email">
            <dt>
              <label for="comment-author">Name</label>
            </dt>
            <dd>
              <input type="text" class="inputField" id="comment-author" name="author" size="30" accesskey="b" tabindex="1" />
            </dd>
            <dt>
              <label for="comment-email">Mail Address</label>
            </dt>
            <dd>
              <input type="text" class="inputField" id="comment-email" name="email" size="30" id="comment-email" accesskey="c" tabindex="2" />
            </dd>
            <dt>
              <label for="comment-uri"><abbr title="Uniform Resource Identifer">URI</abbr></label>
            </dt>
            <dd>
              <input type="text" class="inputField" id="comment-uri" name="uri" value="http://" size="30" accesskey="d" tabindex="3" />
            </dd>
          </dl>
          <p></p>
          <dl>
            <dt>
              <label for="comment-body">Comment</label>
            </dt>
            <dd>
              <textarea id="comment-body" name="body" rows="5" cols="50" accesskey="e" tabindex="4"></textarea>
            </dd>
          </dl>
          <div class="action">
            <input type="submit" class="submit post" value="Post" accesskey="g" tabindex="6" />
          </div>
        </fieldset>
      </form>
    </div>
    <!-- end div#comment -->
    <div class="section" id="trackback">
      <h2>Trackback:<span class="count"><%= entry.trackbacks.length %></span></h2>
      <dl class="info">
        <dt>TrackBack URL for this entry</dt>
        <dd class="URL"><%= tbUrl %></dd>
        <dt>Listed below are links to weblogs that reference</dt>
        <dd><a href="<%= entryUrl %>"><%= entry.title %></a> from <a href="<%= copyright.href %>"><%= site.name %></a></dd>
      </dl>
      <dl class="log">
        <% for (var i = 0; i < entry.trackbacks.length; i++) { %>
        <dt id="ping<%= i %>"<span class="name"><a href="<%= entry.trackbacks[i].url %>" rel="nofollow"><%= entry.trackbacks[i].title %></a></span> <span class="date"><%= entry.trackbacks[i].date %></span></dt>
        <dd><%= entry.trackbacks[i].excerpt %></dd>
        <% } %>      
      </dl>
    </div>
    <!-- end div#trackback -->
  </div>
  <!-- end div.entry -->
  <p class="topicPath" id="path2"><a href="/">Home</a> &gt; <a href="/category/<%= entry.category %>/"><%= categories[entry.category].name %></a> &gt; <span class="current"><%= pageTitle %></span></p>
</div>
<!-- end main-->
<%- partial('partials/utilities') %> 
<p class="return"><a href="#header" title="Return to top of page">Page Top</a></p>
</div>
<!--end content-->
<%- partial('partials/footer') %>

<!-- http://www.google.com/webmasters/+1/button/index.html -->
<!-- Place this tag in your head or just before your close body tag -->
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
