</head>
<body class="mainIndex double">
<%- partial('partials/header') %>
<div id="content">
<div id="main">
  <p class="topicPath"><a href="/">Home</a> &gt; <span class="current"><%= pageTitle %></span></p>
  <h1><%= pageTitle %></h1>
  <% for (var i = 0; i < entries.length; i++) { %>
  <div class="section entry" id="entry<%= entries[i].id %>">
    <h2><a href="/entry/<%= entries[i].id %>/"><%= entries[i].title %></a></h2>
    <ul class="info">
      <!--li class="author">Posted by: <span class="name"><%= sidebar.author.name %></span></li-->
      <li class="date"><%= entries[i].date %></li>
      <% if (entries[i].update) { %>
      <li class="date update">Update: <%= entries[i].update %></li>
      <% } %>
      <li class="category"><a href="/category/<%= entries[i].category %>/" title="<%= categories[entries[i].category].name %> Index"><%= categories[entries[i].category].name %></a></li>
      <li class="tag">
      <% for (var j = 0; j < entries[i].tags.length; j++) { %>
        <a href="/tag/<%= entries[i].tags[j] %>/" rel="nofollow"><%= entries[i].tags[j] %></a><% if (entries[i].tags[j + 1] != undefined) { %>, <% } %>
        <% } %>
      </li>
    </ul>
    <div class="textBody">
      <p><%- entries[i].opening %></p>
      <p class="continue"><a href="/entry/<%= entries[i].id %>/" title="<%= entries[i].title %>" rel="nofollow">Continue reading</a></p>
    </div>
    <ul class="reaction">
      <li class="comment"><a href="/entry/<%= entries[i].id %>/#comments" title="comments for <%= entries[i].title %>" rel="nofollow">Comment</a>: <span class="count"><%= entries[i].comments %></span></li>
      <li class="trackback"><a href="/entry/<%= entries[i].id %>/#trackback" title="trackbakcs for  <%= entries[i].title %>" rel="nofollow">TrackBack</a>: <span class="count"><%= entries[i].trackbacks %></span></li>
      <!--
      <li>Comments (Close): <span class="count"><%= entries[i].comments %></li>
      <li>TrackBack (Close): <span class="count"><%= entries[i].trackbacks %></span></li>
      -->
    </ul>
  </div>
  <% } %>
  <!-- end section entry-->

  <% if (next != null || prev != null) { %>
  <ul class="flip pager" id="flip2">
    <% if (prev != null) { %>
    <li class="newer"><a href="/index/<%= prev %>/">Newer Entries</a></li>
    <% } %>
    <% if (next != null) { %>
    <li class="older"><a href="/index/<%= next %>/">Older Entries</a></li>
    <% } %>
  </ul>
  <% } %>
  <!--p class="archives"><a href="#">More...</a></p-->
  <p class="topicPath" id="path2"><a href="/" title="Home">Home</a></p>
</div>
<!-- end main-->
<%- partial('partials/utilities') %> 
<p class="return"><a href="#header">Return to page top</a></p>
</div>
<!--end content-->
<%- partial('partials/footer') %>
