<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
  <meta name="viewport" content="width=device-width" />
  <title><%= pageTitle %> - <%= site.name %></title>
  <link rel="stylesheet" href="/theme/<%= site.theme %>/<%= site.theme %>.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/lib/exvalidation/exvalidation.css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
<%- body %>
</body>
</html>
