</head>
<body class="archives single">
<%- partial('partials/header') %>
<div id="content">
<div id="main">
  <p class="topicPath"><a href="/" title="Home">Home</a> &gt; <span class="current"><%= pageTitle %> Archives</span></p>
  <h1>Search Results for "<%= pageTitle %>"</h1>
  <div class="entry">
    <ul class="info">
      <li class="entry"><span class="count"><%= entries.length %></span> Entries</li>
      <li class="comment"><span class="count">
      <% 
        var comments = 0;
        for (var i = 0; i < entries.length; i++) { 
          comments += entries[i].comments;
        }
      %>
      <%= comments %>
      </span> Comments</li>
    </ul>
    <dl class="headline">
    <% for (var i = 0; i < entries.length; i++) { %>
      <dt><a href="/entry/<%= entries[i].id %>/"><%= entries[i].title %></a><span class="date"> - Posted date: <%= entries[i].date %></span>
      <% if (entries[i].update) { %>
        <span class="date update">- Update: <%= entries[i].update %></span>
      <% } %>
      </dt>
      <dd>
        <ul>
          <li class="textBody"><%- entries[i].opening %>…</li>
          <li class="author">Posted by: <span class="name"><%= sidebar.author.name %></span></li>
          <li class="category">Category: <a href="/category/<%= entries[i].category %>/" title="<%= categories[entries[i].category].name %> Index"><%= categories[entries[i].category].name %></a></li>
          <li class="tag">Tag: 
          <% for (var j = 0; j < entries[i].tags.length; j++) { %>
            <a href="/tag/<%= entries[i].tags[j] %>/" rel="nofollow"><%= entries[i].tags[j] %></a><% if (entries[i].tags[j + 1] != undefined) { %>, <% } %>
          <% } %>
          </li>
        </ul>
      </dd>
    <% } %>
    </dl>
  </div>
  <!-- end entry-->
  <p class="topicPath"><a href="#" title="Home">Home</a> &gt; <span class="current">Archives</span> </p>
</div>
<!-- end main-->
<%- partial('partials/utilities') %> 
<p class="return"><a href="#header" title="Return to top of page">Page Top</a></p>
</div>
<!--end content-->
<%- partial('partials/footer') %>
