<div id="footer">
  <ul class="support">
    <li>Powered by 
      <a href="http://nodejs.org/" target="_blank">Node</a> &amp; 
      <a href="http://expressjs.com/" target="_blank">Express</a> &amp; 
      <a href="http://blackvicuna.blog39.fc2.com/" target="_blank">Black</a> <a href="http://vicuna.jp/" target="_blank">Vicuna</a> &amp; 
      <a href="http://looseleafjs.org/" target="_blank">LooseLeaf <%= version %></a>
    </li>
  </ul>
  <address><small>
    Copyright &copy; <a href="<%= copyright.href %>"><%= copyright.text %></a> All Rights Reserved.
  </small></address>
</div>
<script src="/lib/jquery.min.js"></script>

<script src="/lib/exvalidation/exvalidation.js"></script>
<script src="/lib/exvalidation/exchecker-en.js"></script>

<script src="/lib/activity/activity-indicator.js"></script>
<script>
var year = <%= typeof year != 'undefined' ? year : new Date().getFullYear() %>;
var month = <%= typeof month != 'undefined' ? month : new Date().getMonth() + 1 %>;
</script>
<script src="/js/common.js"></script>