  <link rel="stylesheet" href="/lib/tagget/tagget.css" />
</head>
<body class="category double">
<%- partial('../partials/header') %>
<div id="content">
<div id="main">
  <p class="topicPath"><a href="/">Home</a> &gt; <a href="/admin/index/">Admin</a> &gt; <span class="current"><%= pageTitle %></span></p>
  <h1><%= pageTitle %></h1>
    <div class="section entry">
      <div class="textBody">
      <!-- Post Entry form -->
      <form class="post" method="post" action="<%= action %>">
        <fieldset>
          <legend>Entry Form</legend>
          <div>
            <p><script>document.write('<input type="hidden" name="token" value="<%= req.session.id %>" />');</script></p>
          </div>
          <dl>
            <dt>
              <label for="title">Title</label>
            </dt>
            <dd>
              <input type="text" class="inputField" id="title" name="title" value="<%= entry.title %>" size="50" />
            </dd>
            <dt>
              <label for="category">Category</label>
            </dt>
            <dd>
              <select id="category" name="category">
              <% for (var i in categories) { %>
                <option value="<%= i %>"
                <% if (i == entry.category) { %>
                  selected
                <% } %>
                ><%= categories[i].name %></option>
              <% } %>
              </select>
            </dd>
          </dl>
          <p></p>
          <dl>
            <dt>
              <label for="body">Body</label>
            </dt>
            <dd>
              <textarea id="body" name="body" rows="15" cols="50"><%- entry.body %></textarea>
            </dd>
          </dl>
          <p></p>
          <dl>
            <dt>
              <label for="tags">Tags</label> (Comma-separated)
            </dt>
            <dd>
              <input type="text" class="inputField" id="tags" name="tags" value="<%= entry.tags %>" size="30" />
            </dd>
          </dl>
          <p></p>
          <dl>
            <dt>
              Scope
            </dt>
            <dd>
              <input type="checkbox" name="private" id="private"
              <%= entry.private ? 'checked' : '' %>
              />
              <label for="private">private</input>
            </dd>
          </dl>
          <p></p>
          <dl>
            <dt>
              <label for="tb">TrackBack</label> (Linebreak-separated)
            </dt>
            <dd>
              <textarea id="tb" name="tb" rows="3" cols="50"><%- entry.trackback_to %></textarea>
            </dd>
          </dl>
          <div class="action">
            <input type="submit" class="submit post" value="Post" />
          </div>
        </fieldset>
      </form>
      </div>
    </div>
  <p class="topicPath" id="path2"><a href="/">Home</a> &gt; <a href="/admin/index/">Admin</a> &gt; <span class="current"><%= pageTitle %></span></p>
</div>
<!-- end main-->
<%- partial('../partials/admin/utilities') %> 
<p class="return"><a href="#header" title="Return to top of page">Page Top</a></p>
</div>
<!--end content-->
<%- partial('../partials/footer') %>
<script src="/lib/tagget/jquery.tagget.js"></script>
<script>
$(function() {
  $('#body').tagget();
});
</script>

