</head>
<body class="category double">
<%- partial('../partials/header') %>
<div id="content">
<div id="main">
  <p class="topicPath"><a href="/">Home</a> &gt; <a href="/admin/index/">Admin</a> &gt; <span class="current"><%= pageTitle %></span></p>
  <h1><%= pageTitle %></h1>
    <div class="section entry">
      <div class="textBody">
        <h2>Entry List</h2>
        <form method="post" action="/admin/category/edit/" id="editForm">
          <table cellspacing="0" cellpadding="0">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Date</th>
              <th>Category</th>
              <th>Com<wbr />ments</th>
              <th>Track<wbr />backs</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Pri<wbr />vate</th>
            </tr>
            <% for (var i = 0; i < entries.length; i++) { %>
            <tr<%= entries[i].private ? ' class="private"' : '' %>>
              <td><%= entries[i].id %></td>
              <td><a href="/entry/<%= entries[i].id %>/" target="_blank"><%= entries[i].title %></a></td>
              <td>
                <%= entries[i].date %>
              </td>
              <td><a href="/category/<%= entries[i].category %>/" target="_blank"><%= categories[entries[i].category].name %></a></td>
              <td><a href="/entry/<%= entries[i].id %>/#comments" target="_blank"><%= entries[i].comments %></a></td>
              <td><a href="/entry/<%= entries[i].id %>/#trackback" target="_blank"><%= entries[i].trackbacks %></a></td>
              <td><input type="button" class="submit post" value="Edit" onclick="location.href='/admin/entry/edit/<%= entries[i].id %>/';" /></td>
              <td><input type="button" class="submit post" value="Delete" onclick="location.href='/admin/entry/remove/<%= entries[i].id %>/';" /></td>
              <td><%- entries[i].private ? '&radic;' : '' %></td>
            </tr>
            <% } %>
          </table>
        </form>
      </div>
    </div>
  <p class="topicPath" id="path2"><a href="/">Home</a> &gt; <a href="/admin/index/">Admin</a> &gt; <span class="current"><%= pageTitle %></span></p>
</div>
<!-- end main-->
<%- partial('../partials/admin/utilities') %> 
<p class="return"><a href="#header" title="Return to top of page">Page Top</a></p>
</div>
<!--end content-->
<%- partial('../partials/footer') %>
